{% paginate collection.products by 12 %}
<div id="featured-collection-page" class="container">
	<div class="row">
		<div class="col-md-3 hidden-xs hidden-sm">
			<div class="top-margin"></div>
			<div id="sidebar" class="sticky-gif">
				<ul id="sticky-gif" class="menu-links">
			      {% for link in linklists[section.settings.menu_link_list].links %}
			      {% unless link.title contains 'Featured Collection' %}
			      <li class="">
			      	<div class="mobile-nav__has-sublist mobile-nav--expanded">
			      		{% unless link.title == "Collections" %}
		            	<a href="{{ link.url }}">
				          <div class="drawer-link-title {% if link.active %} drawer-link-title-active {% endif%}">
				            <span>{{ link.title }}</span>
				       	  </div>
				        </a>
				        {% endunless %}
				      <!-- {% if link.links != blank %}  
		              <div class="custom-toggle-button">
		                <a class="mobile-nav__toggle-btn icon-fallback-text" aria-controls="Linklist-{{ forloop.index }}" >
		                  <span class="icon-fallback-text mobile-nav__toggle-open">
		                    <span class="glyphicon glyphicon-chevron-down text-white" aria-hidden="true"></span>
		                    <span class="fallback-text">{{ 'general.drawers.expand_submenu' | t }} {{ link.title | escape }}</span>
		                  </span>
		                  <span class="icon-fallback-text mobile-nav__toggle-close">
		                    <span class="glyphicon glyphicon-chevron-up text-white" aria-hidden="true"></span>
		                    <span class="fallback-text">{{ 'general.drawers.collapse_submenu' | t }} {{ link.title | escape }}</span>
		                  </span>
		                </a>
		              </div>
		              {% endif %} -->
		            </div>
			        <ul class="mobile-nav__sublist" id="Linklist-{{ forloop.index }}" aria-labelledby="Label-{{ forloop.index }}" role="navigation" style="display: block;">
		              {% assign parent_index = forloop.index %}
		              {% for childlink in link.links %}
		                {% if childlink.links != blank %}
		                <li class="">
		                  <div class="sub-drawer-link-title mobile-nav__has-sublist 
		                  	{% if collection.title contains 'Men' %}
		                  		{% if forloop.index == 1 %}
				                   	{% if link.child_active %} 
				                   		mobile-nav--expanded
			                   		{% endif%}
		                   		{% endif%}
		                   	{% else %}
			                   	{% if forloop.index == 2 %}
				                   	{% if link.child_active %} 
				                   		mobile-nav--expanded
			                   		{% endif%}
		                   		{% endif%}	
		                  	{% endif %}
		                    ">
		                    <a
		                      href="javascript:void(0)"
		                      class="mobile-nav__link "
		                      id="Label-{{ parent_index }}-{{ forloop.index }}"
		                      {% unless template.name == 'index' %}{% if link.active %}aria-current="page"{% endif %}{% endunless%}>
		                        {{ childlink.title }}
		                    </a>
		                    <div class="mobile-nav__toggle">
		                      <button type="button" class="mobile-nav__toggle-btn icon-fallback-text " aria-controls="Linklist-{{ parent_index }}-{{ forloop.index }}" 
			                      {% if collection.title contains 'Men' %}
			                  		{% if forloop.index == 1 %}
					                   	{% if link.child_active %} 
					                   		aria-expanded="true"
					                   	{% else %}
					                   		aria-expanded="false"
				                   		{% endif%}
			                   		{% endif%}
			                   	{% else %}
				                   	{% if forloop.index == 2 %}
					                   	{% if link.child_active %} 
					                   		aria-expanded="true"
					                   	{% else %}
					                   		aria-expanded="false"
				                   		{% endif%}
			                   		{% endif%}	
			                  	{% endif %}>
		                        <span class="icon-fallback-text mobile-nav__toggle-open">
		                          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
		                          <span class="fallback-text">{{ 'general.drawers.expand_submenu' | t }} {{ link.title | escape }}</span>
		                        </span>
		                        <span class="icon-fallback-text mobile-nav__toggle-close">
		                          <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
		                          <span class="fallback-text">{{ 'general.drawers.collapse_submenu' | t }} {{ link.title | escape }}</span>
		                        </span>
		                      </button>
		                    </div>
		                  </div>
		                  <ul class="mobile-nav__sublist mobile-nav__subsublist" id="Linklist-{{ parent_index }}-{{ forloop.index }}" aria-labelledby="Label-{{ parent_index }}-{{ forloop.index }}" role="navigation" {% if collection.title contains 'Men' %}
		                  		{% if forloop.index == 1 %}
				                   	{% if link.child_active %} 
				                   		style="display: block;"
			                   		{% endif%}
		                   		{% endif%}
		                   	{% else %}
			                   	{% if forloop.index == 2 %}
				                   	{% if link.child_active %} 
				                   		style="display: block;"
			                   		{% endif%}
		                   		{% endif%}	
		                  	{% endif %}>
		                    {% for grandchildlink in childlink.links %}
		                      <li class="dropdown-nav-items {% if grandchildlink.active %} drawer-link-title-active {% endif%}">
		                        <a
		                          href="{{ grandchildlink.url }}"
		                          class="mobile-nav__link"
		                          {% unless template.name == 'index' %}{% if grandchildlink.active %}aria-current="page"{% endif %}{% endunless%}>
		                            {{ grandchildlink.title | escape }}
		                        </a>
		                      </li>
		                    {% endfor %}
		                  </ul>
		                </li>
		                {% else %}
		                <li class="dropdown-nav-items-li {% if childlink.active %} drawer-link-title-active {% endif%}">
		                  <div class="submenu-wrapper">
		                  	<a
			                    href="{{ childlink.url }}"
			                    class="mobile-nav__link"
			                    {% unless template.name == 'index' %}{% if childlink.active %}aria-current="page"{% endif %}{% endunless%}>
			                    <div class="dropdown-nav-items">
		                  	  		<span class="fas fa-caret-right"></span>
			                        <span>{{ childlink.title | escape }}</span>
			                    </div>
			                  </a>
		                  </div>
		                </li>
		                {% endif %}
		              {% endfor %}
		            </ul>
			      </li>
			      {% endunless %}
			      {% endfor %}
			    </ul>

			    <!--<ul class="share-social"> 
			    	<li>SHARE:</li>
			    	<li>
			    		<a target="_blank" href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}">
			    			<img  src="{{ 'Facebook-dark.png' | asset_url }}" width="150">
			    		</a>
			    	</li>
			    	<li>
			    		<a target="_blank" href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}">
			    			<img  src="{{ 'Twitter-dark.png' | asset_url }}" width="150">
			    		</a>
			    	</li>
			    	<li>
			    		<a target="_blank" href="">
			    			<img  src="{{ 'instagram-dark.png' | asset_url }}" width="150">
			    		</a>
			    	</li>
			    </ul> -->	
			</div>
		</div>
		<div class="col-md-9 col-xs-12" id="collection-section" >
			 
			<div class="col-md-9 hidden-xs hidden-sm">
				<h4>{{ collection.title }}</h4>
			</div>
			<div class="col-md-3 pad-l-r-15">
			  {% if section.settings.collection_sort_enable %}
		        {% include 'collection-sorting' %}
		      {% endif %}
			</div>
			<div class="collection-products-list collection-section" data-infinite-scroll='{ "path": ".next a", "append": ".product-block", "history": false, "hideNav": ".pagination", "status": ".page-load-status" }'>
				{% for product in collection.products %}
			      {% include 'new-product-grid-item' %}
			    {% endfor %}
			    <div class="page-load-status">
					<div class="loader-ellips infinite-scroll-request">
					  <span class="loader-ellips__dot"></span>
					  <span class="loader-ellips__dot"></span>
					  <span class="loader-ellips__dot"></span>
					  <span class="loader-ellips__dot"></span>
					</div>
					<p class="infinite-scroll-last text-center">
			           <span id="back-to-top" class="glyphicon glyphicon-chevron-up"></span>
			        </p>
					<p class="infinite-scroll-error text-center">No more pages to load</p>
				</div>
			</div>

			<div class="col-xs-12">
				<div class="pagination-container">
					{% if paginate.pages > 1 %}
					  {% include 'pagination' %}
					{% endif %}
				</div>
			</div>
		</div>
		
	</div>

</div>
<script type="text/javascript">
	{% if collection.handle contains "feature-collections" %}
		var minusHeightCollection = 477;
	{% else %}
		var minusHeightCollection = 177;
	{% endif %}
	$(document).ready(function() {
	  var elmnt = document.getElementById("collection-section");
		var y = elmnt.scrollHeight;
		var x = elmnt.scrollWidth;
		$('.sticky-gif').css('height', y * {{paginate.pages}} - minusHeightCollection  + 'px');
		$('#sticky-gif').stick_in_parent({
			offset_top: 10,
			recalc_every: 1
			}
		);
		$('.mobile-nav__toggle-btn').trigger('click');
	});
	// mobile-nav__has-sublist

</script>
{% endpaginate %}