{% unless width %}
  {%- assign width = 310 -%}
{% endunless %}
{% unless height %}
  {%- assign height = 415 -%}
{% endunless %}
{% capture img_id_class %}ProductImage-{{ product.featured_image.id }}{% endcapture %}
{% capture img_wrapper_id %}ProductImageWrapper-{{ product.featured_image.id }}{% endcapture %}
{%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
<div class="col-md-3 m-t-30">
  <a class="" href="{{ product.url | within: collection }}">
    {% if product.featured_image.src == blank %}
          <img class="grid-product__image" src="{{ product.featured_image.src | img_url: '1024x' }}" alt="{{ product.featured_image.alt | escape }}">
        {% else %}
          {% include 'image-style' with image: product.featured_image, small_style: true, width: width, height: height, wrapper_id: img_wrapper_id, img_id_class: img_id_class %}
          <div id="{{ img_wrapper_id }}" class="product--wrapper">
            <div style="padding-top:{{ 1 | divided_by: product.featured_image.aspect_ratio | times: 100 }}%;">
              <img class="product--image lazyload {{ img_id_class }}"
                   src="{{ product.featured_image | img_url: '1024x' }}"
                   data-src="{{ img_url }}"
                   data-widths="[180, 370, 590, 740, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio="{{ product.featured_image.aspect_ratio }}"
                   data-sizes="auto"
                   alt="{{ product.featured_image.alt | escape }}">
                   <p></p>
            </div>
          </div>
          <noscript>
            <img class="grid-product__image" src="{{ product.featured_image.src | img_url: '1024x' }}" alt="{{ product.featured_image.alt | escape }}">
          </noscript>
        {% endif %}
  </a>
</div>
<div class="col-md-9 m-t-30 ">
    <div class="col-bordered">
      {{product.description | split: '<!-- split_blog -->' | first}}

      <p>
          <!-- {% for ctag in article.tags %}
            {% if ctag contains relatedCollection %}
                 <a href="/collections/{{ ctag | remove: relatedCollection }}">
                  <img class="m-top-20" src="{{'See-related-designs.png' | asset_url }}" width="210" />
                </a>
            {% endif %} 
          {% endfor %} -->
          <a href="/collections/men">
            <img class="m-top-20" src="{{'See-related-designs.png' | asset_url }}" width="210" />
          </a>
      </p>
      {% for tag in collection.all_tags %}
         {% if current_tags contains tag %}
         {{ tag | handle }}
       {% endif %}
       {% endfor %}
    </div>
</div>
