<!-- /templates/article.liquid -->
{% assign number_of_comments = article.comments_count %}

{% if comment and comment.created_at %}
  {% assign number_of_comments = article.comments_count | plus: 1 %}
{% endif %}
<div class="full-width-sec">
  <div class="container page-960">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="article-title">{{ article.title }}</h1> 
      </div>
      <div class="col-md-8 col-xs-5">
        <p class="top-date">
          <!-- <span class="date"><time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time></span> -->
          <span>Backword Tees</span>
        </p>  
      </div>
      <div class="col-md-4 col-xs-7">
        {% if section.settings.social_sharing_blog %}
        <div class="pull-right">
            {% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="container page-960">
  <div class="row">
    {% assign counter = 0 %}
    {% assign break_at = 1 %}
      <div class="related-products-blog">
        {% assign z = "related-design-product-" %}
        {% assign relatedCollection = "related-design-collection-" %}
        {% for c in collections %}
          {% for product in c.products %}
            {% for tag in article.tags %}
              {% if tag contains z %}
                {% if product.tags contains tag %}
                  {% assign counter = counter | plus: 1 %}
                  {% if counter == 1 %}
                    {% include 'new-product-grid-item-blog' %}
                    {% break %}
                  {% endif %}
                {% endif %}
              {% endif %} 
            {% endfor %}
          {% endfor %}
        {% endfor %}
        
      </div>
      <div class="col-md-12 m-b-t-25 no-padding-mobile">
        <noscript>
          {{ article.image | img_url: 'large' | img_tag: article.title | escape }}
        </noscript>
        <div class="article__featured-image-wrapper" style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100}}%;">
          {% assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
          <img class="article__featured-image lazyload"
            src="{{ article.image | img_url: '300x300' }}"
            data-src="{{ img_url }}"
            data-widths="[310, 360, 480, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
            data-aspectratio="{{ article.image.aspect_ratio }}"
            data-sizes="auto"
            alt="{{ article.title | escape }}">
        </div>
      </div>
      <div class="col-md-12 article-content">
        <div class="rte readtime__wrapper-article-content">
            {{ article.content }}
        </div>
        {% if article.url contains '21-jokes-about-smoking-weed-that-will-probably-make-you-laugh-out-loud' or article.url contains 'if-the-dinosaurs-in-jurassic-park-were-cats-it-would-be-awesome-obvs' or article.url contains 'if-the-dinosaurs-in-jurassic-park-were-cats-it-would-be-awesome-obvs' or article.url contains 'jurassic-park-replaced-with-cats' or article.url contains 'kylie-jenners-before-and-after-fame-bikini-pictures-become-a-meme' or article.url contains 'the-ultimate-ranking-of-taco-bell-menu-items-based-on-how-drunk-you-are' or article.url contains 'roll-call-britney-spears-spits-on-demi-lovato' %}
        <div class="col-md-12 social-coupon-content">
          <div class="col-md-6 text-center">
            <p>
              Like us on Facebook to see more hilarious content like this
            </p>
            <a href="{{ settings.social_facebook_link | escape }}">
              <img src="{{ 'icon-fb1.png' | asset_url }}" />
            </a>
          </div>
          <div class="col-md-6 get-email-wrapper-blog text-center">
            <p>
              Enter your email & we'll send you a code for $5 off!
            </p>
            {% form 'customer' %}
            {{ form.errors | default_errors }}
              <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="Enter your E-mail" name="contact[email]" id="Email" class="email-input" autocorrect="off" autocapitalize="off">
              <button type="submit" class="submit-email">Submit</button>
            {% endform %} 
          </div>
        </div>
        {% else %}
        <div class="col-md-12 text-center see-related-designs">
          <!-- {% for stag in article.tags %}
            {% if stag contains relatedCollection %}
            <a href="/collections/{{ stag | remove: relatedCollection }}">
              <img class="see-related-btn" src="{{'See-Related-Design.png' | asset_url }}">
            </a>
            {% endif %}
          {% endfor %} -->
          {% if article.url contains "the-boy-who-lived-had-a-boudoir-shoot-and-it-s-hotter-than-fiendfyre" %}
          <a href="/collections/movies-tv-women/products/parry-hotter-womens">
          {% else %}
          <a href="/collections/men">
          {% endif %}
            <img class="see-related-btn" src="{{'See-Related-Design.png' | asset_url }}">
          </a>
          <hr>
        </div>
        {% endif %}
      </div>
      

      <!-- FOR MOBILE related blog-->
      <div class="col-md-5 related-blog-posts visible-xs visible-sm">
        <h3 class="section_header text-left">RELATED BLOG POSTS</h3>
        {% assign blogarticletitle = article.title %}
          {% for article in blog.articles limit: 4 %}
            {% if article.title == blogarticletitle %}
            {% comment %} if article title is the same as the current title then hide the block {% endcomment %}
            {% comment %} not working on the four first articles {% endcomment %}
            {% else %}
              <a class="card" href="{{ article.url }}">
                <div class="card__meta">
                  <p class="card__meta-title clamp-me">{{ article.title }}</p>
                  <span class="date"><time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time></span>
                </div>
              </a>

            {% endif %}
          {% endfor %}
      </div>
      <!-- FOR MOBILE related blog-->

      <div class="col-md-7 comment-section">
        {% if blog.comments_enabled? %}

          {% if number_of_comments > 0 %}
            <p class="text-left">{{ 'blogs.comments.with_count' | t: count: number_of_comments }} - <a href="#" class="text-pink">Share Your Thoughts</a></p>
          {% else %}
            <p class="no-comments">There are no comments for this post.</p>
          {% endif %}

          {% paginate article.comments by 4 %}
            {% comment %}
              #comments is required, it is used as an anchor link by Shopify.
            {% endcomment %}
            <div id="comments">

              {% if comment and comment.created_at %}
                <p class="note form-success">
                  {% if blog.moderated? %}
                    {{ 'blogs.comments.success_moderated' | t }}
                  {% else %}
                    {{ 'blogs.comments.success' | t }}
                  {% endif %}
                </p>
              {% endif %}

              {% if number_of_comments > 0 %}
                <ul class="no-bullets">
                  {% comment %}
                    If a comment was just submitted with no blank field, show it.
                  {% endcomment %}
                  {% if comment and comment.created_at %}
                    <li id="{{ comment.id }}" class="comment first{% if article.comments_count == 0 %} last{% endif %}">
                      {% include 'comment' %}
                    </li>
                  {% endif %}

                  {% comment %}
                    Showing the rest of the comments.
                  {% endcomment %}
                  {% for comment in article.comments %}
                    <li id="{{ comment.id }}" class="comment{% unless number_of_comments > article.comments_count %}{% if forloop.first %} first{% endif %}{% endunless %}{% if forloop.last %} last {% endif %}">
                      {% include 'comment' %}
                    </li>

                    {% unless forloop.last %}
                       
                    {% endunless %}
                  {% endfor %}
                </ul>

                {% if paginate.pages > 1 %}
                  {% include 'pagination' %}
                {% endif %}

              {% endif %}
              <h2 class="h3 text-left m-t-15">{{ 'blogs.comments.title' | t }}</h2>
              <div class="form-vertical">
                {% form 'new_comment', article %}

                  {{ form.errors | default_errors }}

                  <div class="grid grid--small">
                    <div class="grid__item large--one-half">
                      <label for="CommentAuthor" class="hidden-label">{{ 'blogs.comments.name' | t }}</label>
                      <input class="input-full{% if form.errors contains 'author' %} error{% endif %}" type="text" name="comment[author]" placeholder="{{ 'blogs.comments.name' | t }}" id="CommentAuthor" value="{{ form.author }}" autocapitalize="words">
                    </div>
                    <div class="grid__item large--one-half">
                      <label for="CommentEmail" class="hidden-label">{{ 'blogs.comments.email' | t }}</label>
                      <input class="input-full{% if form.errors contains 'email' %} error{% endif %}" type="email" name="comment[email]" placeholder="{{ 'blogs.comments.email' | t }}" id="CommentEmail" value="{{ form.email }}" autocorrect="off" autocapitalize="off">
                    </div>
                  </div>

                  <label for="CommentBody" class="hidden-label">{{ 'blogs.comments.message' | t }}</label>
                  <textarea class="input-full{% if form.errors contains 'body' %} error{% endif %}" name="comment[body]" id="CommentBody" placeholder="{{ 'blogs.comments.message' | t }}">{{ form.body }}</textarea>

                  <div class="text-center">
                    {% if blog.moderated? %}
                      <p>{{ 'blogs.comments.moderated' | t }}</p>
                    {% endif %}

                    <input type="submit" class="btn" value="{{ 'blogs.comments.post' | t }}">
                  </div>

                {% endform %}
              </div>

            </div>
          {% endpaginate %}
        {% endif %}
      </div>
      <div class="col-md-5 related-blog-posts hidden-xs hidden-sm">
        <h3 class="section_header text-left">RELATED BLOG POSTS</h3>
        {% assign blogarticletitle = article.title %}
          {% for article in blog.articles limit: 4 %}
            {% if article.title == blogarticletitle %}
            {% comment %} if article title is the same as the current title then hide the block {% endcomment %}
            {% comment %} not working on the four first articles {% endcomment %}
            {% else %}
              <a class="card" href="{{ article.url }}">
                <div class="card__meta">
                  <p class="card__meta-title clamp-me">{{ article.title }}</p>
                  <span class="date"><time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time></span>
                </div>
              </a>

            {% endif %}
          {% endfor %}
      </div>
     
  </div>
</div>

{% schema %}
  {
    "name": {
      "pt-BR": "Páginas do artigo",
      "es": "Páginas del artículo",
      "de": "Artikelseiten",
      "it": "Pagine articoli",
      "en": "Article pages",
      "ja": "記事ページ",
      "fr": "Pages d'articles"
    },
    "settings": [
      {
        "type": "checkbox",
        "id": "social_sharing_blog",
        "label": {
          "pt-BR": "Exibir botões de compartilhamento em redes sociais",
          "es": "Mostrar botones para compartir en redes sociales",
          "de": "Social-Sharing-Schaltflächen anzeigen",
          "it": "Mostra i pulsanti per la condivisione sui social",
          "en": "Show social sharing buttons",
          "ja": "ソーシャル共有ボタンを表示する",
          "fr": "Afficher les boutons de partage social"
        },
        "default": true
      }
    ]
  }
{% endschema %}
